@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#header {
  background: url(../static/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 130px;
  padding-top: 200px;
}

.header__title {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 40px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  position: relative;
  margin-bottom: 25px;
}

.header__utp {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  position: relative;
}

.content-block {
  margin-top: 150px;
  margin-bottom: 150px;
}

.market-unit {
  border: 2px;
  border-style: dashed;
}

.market-unit__description {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: black;
  position: relative;
  text-align: center;
}

.market-bottom-unit {
  padding: 25px 25px;
  border: 2px;
  border-style: dashed;
  margin-top: 30px;

}

.market-bottom-unit__title {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 40px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: black;
  position: relative;
  margin-bottom: 25px;
  text-align: center;
}

#footer {
  background-color: #534e4b;
  padding: 40px 40px;
}

.copirait__text {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  position: relative;
  text-align: center;
}
