/*стили*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
}






@media screen and (min-width:0px) and (max-width:1199px) {

}

@media screen and (min-width:0px) and (max-width:991px)  {
	.col-4 {
		flex: 0 0 50%;
    max-width: 50%;
	}
}
@media screen and (min-width:0px) and (max-width:771px) {
	.block1 {
		order: 4;
	}
	.block2 {
		order: 3;
	}
	.block3 {
		order: 1;
	}
	.block4 {
		order: 2;
	}
	.col-4 {
	flex: 0 0 100%;
    max-width: 100%;
	}
	}

@media screen and (min-width:0px) and (max-width:650px) {

}

@media screen and (min-width:0px) and (max-width:550px) {

}

@media screen and (min-width:0px) and (max-width:450px) {

}

@media screen and (min-width:0px) and (max-width:350px) {

}
