@import url('https://fonts.googleapis.com/css2 ?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap') ;

h1, h2, h3, h4, h5, h6, p, span, a, strong, b, i, li {
	font-size: 16px;
	line-height: 20px;
}

#nav {
	background: #3C3838; /* цвет фона */
	text-align: center;
/*	padding-bottom: 25px;
	padding-top: 25px;
	padding-right: 25px;
	padding-left: 25px;
	padding: 25px;*/
	padding: 15px 0px;  /* отступ верх-низ, отступ лево-право */
}

.nav__item {
	display: inline-block; /* расположение элементов в одну линию */
	padding: 0px 15px;
}

.nav__item-link { 
font-family: 'Roboto'; /* шрифт */
font-style: normal; /* форматирование шрифта */
font-weight: 400; /* начертание шрифта */
font-size: 24px; /* размер шрифта */
line-height: 28px; /* межстрочный интервал */
color: #FFFFFF; /* цыет шрифта */

}

#bread {
	margin: 50px 0px;
}
.bread__container {
	width: 80%;
	margin: 0 auto;
}
.bread__link {
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #525252;
}
.article__container {
	width: 40%;
	margin: 0 auto;
}

.article__image {
	width: 100%;
	height: auto;
	object-fit: cover;
}



.header {
	background: url('../image/fon.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 122px;
	padding-bottom: 100px;
}
.header__title, .header__title2, .header__text {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	color: #FFFFFF;
	text-align: center;
}
.header__title {
	font-size: 29px;
	line-height: 34px;
	margin-bottom: 25px;
}
.header__title2 {
	font-size: 35px;
	line-height: 41px;
	margin-bottom: 15px;
}
.header__line {
    width: 115px;
    border: 2px solid #ffffff;
}
.header__text {
	font-size: 35px;
	line-height: 41px;
	margin-top: 15px;
}



.blog {
	margin-top: 100px;
}
.blog__item {
	margin-bottom: 40px;
}
.col-4 {
	width: 33.333333%;
	box-sizing: border-box;
	padding: 10px;
	display: inline-block;
}
.blog__link {
	text-decoration: none;
}
.blog__image {
	width: 100%;
	height: 250px;
	object-fit: cover;
}
.blog__title, .blog__list_item {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
}
.blog__title {
	font-size: 28px;
	line-height: 33px;
	color: #000000;
}
.blog__list {
	
}
.blog__list_item {
	font-size: 20px;
	line-height: 23px;
	color: #535353;
	display: inline-block;
	padding-right: 5px;
}







#footer {
	background: #3C3838;
	padding: 55px;
	text-align: center;
	margin-top: 81px;
}

.container {
	width: 75%;
	margin: 0 auto;
}

.footer__title {
	font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
color: #FFFFFF;

}

.footer__list {
	margin-top: 10px;
}

.footer__item {
	display: inline-block;
	padding: 5px;
}

.footer__icon {
	width: 42px;
	height: 42px;
}



